.header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}

.footer {
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    width: 935px;
    margin: 0 auto;
}

.header__nav {}

.header__logo {
    margin-left: 25px;
}

.header__phone {
    margin-right: 25px;
}
