.advantage {
background-color: @special-white;


}
.advantage__wrapper{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
   width:620px;
  }
  @media(min-width:@desktop-width){
    width:967px;
   }

}
.advantage__text {
  color: @black;
  font-family: @OpenSans;
  .font-style(300;24px;);
  text-align:center;
  @media(min-width:@tablet-width){
    .font-style(300;40px;);
    margin:0;

  }
   @media(min-width:@desktop-width){
    .font-style(300;50px;);
    }


}

.advantage__text-2{
 @media(min-width:@tablet-width){
  width:350px;
  margin-left:122px;
  margin-top:1px;
 }
 @media(min-width:@desktop-width){
  width:460px;
  margin-left:227px;
  margin-top:1px;
 }
}

.advantage__list {
  list-style: none;
  padding:0;
  margin:0;
  @media(min-width:@tablet-width){
   margin-left:30px;
  }
  @media(min-width:@desktop-width){
    display:flex;
    margin-left:112px;


   }
}

.advantage__item-head {
  color: @dark-black;
  font-family: @OpenSans;
  .font-style(700;18px;);
text-align:center;
@media(min-width:@tablet-width){
text-align:start;
}
@media(min-width:@desktop-width){
  .font-style(700;30px;);
  width:231px;
  text-align:center;
  }

}


.advantage__item-text {
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
  text-align:center;
  @media(min-width:@tablet-width){
    text-align:start;
  width:311px;}

  @media(min-width:@desktop-width){
  width:166px;
  text-align:center;
  margin-left:39px;
  }


}

.advantage__item{
 margin-right:21px;
}

.advantage__background{
 background-color:@white;
}

.advantage__flex{
 display:block;
 flex-direction: row-reverse;
 @media(min-width:@tablet-width){
  display:flex;

 }
 @media(min-width:@desktop-width){
  display:grid;
  grid-template-columns: 920px;

 }

}

.advantage__img{
 background-image:url(../img/mobile/mobile-advantage.jpg);
 background-repeat:no-repeat;
 width:268px;
 height:547px;
 background-position:center;
 @media(min-width:@tablet-width){
  width:286px;
  height:547px;
  background-image:url(../img/mobile/mobile-advantage-tablet.jpg);



 }

 @media(min-width:@desktop-width){
  width:186px;
  height:382px;
  background-image:url(../img/mobile/mobile-advantage-desktop.jpg);
  margin-right:60px;


 }







}
.advantage__div-image{
display:flex;
justify-content:center;
  @media(min-width:@desktop-width){
 display:flex;
 order:-1;
 margin-left:96px;


  }
}



.adavantage__img-1{
 background-image:url(../img/mobile/mobile-advantage-1.jpg);

}
.adavantage__img-2{
  background-image:url(../img/mobile/mobile-advantage-2.jpg)
}
.adavantage__img-1,.adavantage__img-2{
 display:none;
 @media(min-width:@desktop-width){
 display:block;
}
}
