.app-info__wrapper{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
  width:620px;
  }
  @media(min-width:@desktop-width){
    width:967px;
    }
}

.app-info__download {
  font-family: @OpenSans;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 29px;
  line-height: 18px;
  font-size:18px;
  width:280px;
  display:block;
  text-align:center;
  padding:14px 0;
  margin-top:326px;

  @media(min-width:@tablet-width){
    margin-top:39px;
    margin-left:1px;
  }
}

.app-info__social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding:0;
  margin:0;
  margin-top:44px;
  @media(min-width:@tablet-width){
   justify-content: start;
   margin-left:40px;
  }
  .app-info__item{
    @media(min-width:@tablet-width){
    margin-right:35px;
    }
  }
}



.app-info__maintenance {
  color: @white;
  font-family: @OpenSans;
  .font-style(300;14px;);
  text-align:center;
  @media(min-width:@tablet-width){
   width:304px;

   margin-top:38px;
   .font-style(300;18px;);
  }

}

.app-info__background{
 background-color:@special-black;
 @media(min-width:@tablet-width){
 background-color: transparent;

 }
}

.app-info__slogan{
  font-family: @OpenSans;
  .font-style(300;24px;);
   color:@white;
   margin-bottom:233px;
   text-align:center;
   @media(min-width:@tablet-width){

.font-style(300;40px;);
line-height:48px;
width:193px;
margin:0;
margin-top:102px;
margin-left:42px;
   }
}






