.app-info__wrapper{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
  width:620px;
  }
  @media(min-width:@desktop-width){
    width:967px;
    }
}

.app-info__download {
  font-family: @OpenSans;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 29px;
}

.app-info__social-list {
  list-style: none;
  display: flex;
}



.app-info__maintenance {
  color: @white;
  font-family: @OpenSans;
  .font-style(300;14px;);
}

.app-info__background{
 background-color:@special-black;
 @media(min-width:@tablet-width){
 background-color: transparent;

 }
}

.app-info__slogan{
  font-family: @OpenSans;
  .font-style(300;24px;);
   color:@white;
   margin-bottom:233px;
   @media(min-width:@tablet-width){

   }
}






