
.client-info{
  background-color:#FFFFFF;
}
.client-info__wrapper{
  width:280px;
  margin:0 auto;
  }


.client-info__text {
  color: #283645;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.client-info__name,
.client-info__progress,
.client-info__contact,
.client-info__user-app,
.client-info__about {
  border: none;
}

.client-info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.client-info__form fieldset {
  display: flex;
  flex-direction: column;
}

.client-info__progress,
.client-info__user-app {
  background-color: #F2F2F2;
}

.client-info__label-name {
  color: #D22856;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;

}

.client-info__label {
  color: #283645;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;

}

.client-info__input {
  border: none;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

::-webkit-input-placeholder {
  color:#283645;
}

.client-info__head,
.client-info__contact label {
  color: #D22856;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.client-info__textarea {
  border: none;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  resize: none;
  overflow: hidden;
  padding-bottom: 22px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 276px;
}

.client-info__button {
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  background-color: #2AAB6D;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
