
.client-info{
  background-color:@white;
  padding-bottom:1px;
}
.client-info__wrapper{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
    width:620px;
  }
  @media(min-width:@desktop-width){
    width:967px;
    }
  }
.client-info__wrap{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
  width:620px;
  }
  @media(min-width:@desktop-width){
  width:400px;
  }
}

.client-info__text {
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
  line-height: 30px;
  text-align:center;
  @media(min-width:@tablet-width){
    width:404px;
    margin-left:96px;
    }

    @media(min-width:@desktop-width){
    width:597px;
    margin-left:166px;

    }
}




.client-info__name,
.client-info__progress,
.client-info__contact,
.client-info__user-app,
.client-info__about {
  border: none;
}
.client-info__text--hidden{
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
  line-height: 30px;
  text-align:center;
  text-transform:uppercase;
  @media(min-width:@desktop-width){
    display:none;
  }
  }



.client-info__text--visible{
display:none;
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
  line-height: 30px;
  text-align:center;
  text-transform:uppercase;
@media(min-width:@desktop-width){
  display:block;
}
}


.client-info__form fieldset {
  display: flex;
  flex-direction: column;
}

.client-info__progress,
.client-info__user-app {
  background-color:@special-white;
  @media(min-width:@desktop-width){
    background-color:@white;
  }
}

.client-info__label-name {
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px;);
  text-transform:uppercase;

}

.client-info__label {
  color: @black;
  font-family: @OpenSans;
  .font-style(400;18px;);



}

.client-info__input {
  border: none;
  font-family: @OpenSans;
  .font-style(400;18px;);
  border-top: 2px solid @grey;
  border-bottom: 2px solid @grey;
border-radius: 1px;
padding:14px 0px;
@media(min-width:@tablet-width){
  border: 2px solid @grey;

  }

}

.client-info__input-position{
  margin-top:10px;
  margin-bottom:20px;
  @media(min-width:@tablet-width){
    padding-left:14px;
    padding-right:296px;
    margin-left:31px;
  }
  @media(min-width:@desktop-width){
    padding-left:14px;
    padding-right:50px;
    margin-left:31px;
  }
}

.client-info__input-name{
  @media(min-width:@tablet-width){
    padding-left:q6px;
    padding-right:333px;
    }
    @media(min-width:@desktop-width){
    padding-left:14px;
    padding-right:50px;
    margin-left:31px;
  }

}
.client-info__input-wrap{
  margin-bottom:17px;
  @media(min-width:@desktop-width){
  width:340px;
  }
}

::-webkit-input-placeholder {
  color:@black;
}

.client-info__head {
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px;);
  text-align:center;
  line-height:18px;
  text-transform:uppercase;
  margin-bottom:24px;
}
.client-info__head-2{
  padding-left:45px;
  padding-right:45px;
}

.client-info__textarea {
  border: none;
  border-top: 2px solid @grey;
  border-bottom: 2px solid @grey;
  resize: none;
  overflow: hidden;
  padding-bottom: 94px;
  padding-top:21px;
  font-family: @OpenSans;
  .font-style(400;18px;);
  width: 276px;

@media(min-width:@tablet-width){
  border: 2px solid @grey;
  border-radius: 1px;
  width:496px;
  margin-left:63px;
  white-space: nowrap;
  text-align:center;
  margin-top:15px;
  margin-bottom:47px;
}
@media(min-width:@desktop-width){
  width:815px;
  text-align:start;
  padding-left:20px;
}

}

.client-info__button {
  border: 2px solid @green;
  border-radius: 1px;
  background-color: @green;
  font-family: @OpenSans;
  .font-style(700;18px;);
  color: @white;
  padding:15px 52px 15px 52px;
  border-radius:2px;


}


.client-info__cont{
  display:flex;
  flex-direction:column;

}



.client-info__container{
  display:flex;
flex-direction:column;
@media(min-width:@desktop-width){

  flex-direction:row;
  flex-wrap:wrap;
  width:967px;
  margin:0 auto;

}


}

.client-info__user-app{
  order:4;
  @media(min-width:@tablet-width){
  order:0;
  }

}

.client-info__label-position{
  position:relative;
  margin-bottom:44px;
  margin-left:68px;
  width:231px;
}



.client-info__label-position::before{
  content:"";
 display:block;
  width:33px;
  height:33px;
  border:2px solid @grey;
  border-radius: 1px;
  position:absolute;
  top:-4px;
  left:-71px;

}
.client-info__label-position::after{
  content:"";
  width:22px;
  height:16px;
  background-image:url(../img/icon/tick.svg);
  background-repeat:no-repeat;
  position:absolute;
  top:6px;
  left:-63px;
  display:none;

  }

  .client-info__checkbox:checked+.client-info__label-position::after{
  display:block;
  }

  .client-info__label-wrap{
  margin-bottom:18px;
  text-align:start;
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px;);

  line-height:18px;
  text-transform:uppercase;
  }


  .client-info__label-user{
  position:relative;
  margin-left:70px;
  margin-bottom:40px;
  }
  .client-info__label-user::before{
  content:"";
  display:block;
  width:35px;
  height:35px;
  position:absolute;
  border: 2px solid @grey;
  border-radius:50%;
  background-color:@white;
  top:-5px;
  left:-70px;



  }

  .client-info__label-user::after{
  content:"";
  display:block;
  width:15px;
  height:15px;
  position:absolute;
  border-radius:50%;
  background-color: @red;
  top:7px;
  left:-58px;
  display:none;

  }
.client-info__radio:checked+.client-info__label-user::after{
  display:block;
}


.client-info__star{
  color:@red;
}

.client-info__about{
  @media(min-width:@tablet-width){
  border: 2px solid @grey;
  border-radius: 1px;
  padding:0;


  }
}


.client-info__div{
  display:flex;
  flex-direction: column;
  @media(min-width:@tablet-width){
  flex-direction: row;
  align-items:center;
  }
}


.client-info__user-app{
  @media(min-width:@desktop-width){
  border:2px solid @grey;
margin-left:70px;
  }
  }

  .client-info__cont-progress{
  @media(min-width:@desktop-width){
    flex-direction:row;
    flex-wrap: wrap;
  justify-content: space-around;
  }
  }


  .client-info__contact{
    @media(min-width:@desktop-width){
  order:-1;
  margin-top:75px;
  margin-bottom:47px;
    }
  }
  .client-info__name{
  @media(min-width:@desktop-width){
    order:-2;
  }
  }
  .client-info__user-app{
    @media(min-width:@desktop-width){
    order:-2;
    }
  }
  .client-info__about{
    @media(min-width:@desktop-width){
    order:0;
    }
  }
  .client-info__progress{
    @media(min-width:@desktop-width){
    order:0;
    }
  }

  .client-info__wrap-contact{
  @media(min-width:@desktop-width){
    flex-direction:row;
    align-items:center;
    justify-content: space-around;

  }

  .client-info__contact-div{

    display:flex;
    flex-direction:column;
    @media(min-width:@tablet-width){
    flex-direction:column-reverse;
    }
  }

  }

  .client-info__head-contact{
    display:none;
    @media(min-width:@desktop-width){
    display:block;
    }
  }


  .client-info__wrap-button{

    @media(min-width:@tablet-width) {
      display:flex;
      align-items:center;
      justify-content: space-between;
      margin-top:40px;
      margin-bottom:40px;
      }

  }

  .client-info__phone{
   position:relative;
  }

  .client-info__phone::before{
   content:"";
   width:59px;
   height:56px;
   background-color:@grey;
   background-image:url(../img/icon/phone.svg);
   background-repeat:no-repeat;
   background-position:center;
   position:absolute;
   top:-73px;
    left:561px;
   display:none;
   @media(min-width:@tablet-width){
    display:block;
   }
   @media(min-width:@desktop-width){
    display:block;
    left:344px;
   }

  }


  .client-info__email{
    position:relative;
   }

   .client-info__email::before{
    content:"";
    width:59px;
    height:56px;
    background-color:@grey;
    background-image:url(../img/icon/mail.svg);
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top:-73px;
    left:561px;
    display:none;
    @media(min-width:@tablet-width){
      display:block;
     }
     @media(min-width:@desktop-width){
      display:block;
      left:344px;

     }

   }
