
.client-info{
  background-color:@white;
}
.client-info__wrapper{
  width:280px;
  margin:0 auto;
  }


.client-info__text {
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
  line-height: 30px;
}

.client-info__name,
.client-info__progress,
.client-info__contact,
.client-info__user-app,
.client-info__about {
  border: none;
}

.client-info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.client-info__form fieldset {
  display: flex;
  flex-direction: column;
}

.client-info__progress,
.client-info__user-app {
  background-color:@special-white;
}

.client-info__label-name {
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px;);

}

.client-info__label {
  color: @black;
  font-family: @OpenSans;
  .font-style(400;18px;);

}

.client-info__input {
  border: none;
  font-family: @OpenSans;
  .font-style(400;18px;);
}

::-webkit-input-placeholder {
  color:@black;
}

.client-info__head,
.client-info__contact label {
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px;);
}

.client-info__textarea {
  border: none;
  border-top: 2px solid @grey;
  border-bottom: 2px solid @grey;
  resize: none;
  overflow: hidden;
  padding-bottom: 22px;
  font-family: @OpenSans;
  .font-style(400;18px;);
  width: 276px;
}

.client-info__button {
  border: 2px solid @green;
  border-radius: 1px;
  background-color: @green;
  font-family: @OpenSans;
  .font-style(700;18px;);
  color: @white;
}
