.comments__author {
  color:#000000;
  font-family: Open Sans,Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:24px;
  font-style: normal;
}

.comments__quotes{
  color:#283645;
  font-family: Open Sans,Arial, Helvetica, sans-serif;
  font-weight:400;
  font-size:14px;
}

.comments__wrapper{
  width:280px;
  margin:0 auto;
}
