.contacts__info {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;

}

.contacts__info-head {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;

}


.contacts__wrapper{
  width:280px;
  margin:0 auto;
  a {
    color: #D22856;
    text-decoration: none;
}
}
