.effect__timer-photo{
 @media(min-width:@desktop-width){
  width:298px;
  height:345px;
 }
}

.effect__head{
font-family:@OpenSans;
.font-style(700;30px);
}

.effect__slogan{
  font-family:@OpenSans;
  .font-style(400;14px);
  @media(min-width:@desktop-width){
   font-size:18px;
   width:502px;
   }

}

.effect__link{
 color:@red;
 font-family:@OpenSans;
  .font-style(400;14px);
  @media(min-width:@desktop-width){
 font-size:18px;
   }

}

.effect{
 display:none;
 background-color:@white;
 @media(min-width:@tablet-width){
  display:block;
}



}

.effect__wrapper{
 width:580px;
 padding:0 20px;
 margin:0 auto;
 @media(min-width:@tablet-width){
  display:flex;
}
 @media(min-width:@desktop-width){
  width:900px;
 }
}
