.effect__timer-photo {
  @media (min-width: @tablet-width) {
    width: 618px;
    height: 273px;
    margin-top: 56px;
    margin-left: -91px;
  }

  @media (min-width: @desktop-width) {
    width: 298px;
    height: 345px;
    margin-top: 139px;
    margin-left: -18px;
  }
}

.effect__head {
  font-family: @OpenSans;
  .font-style(700;30px);

  @media (min-width: @tablet-width) {
    margin-top: 96px;

    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 231px;
    margin-left: 70px;
  }
}

.effect__br-tablet {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.effect__br-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.effect__slogan {
  font-family: @OpenSans;
  .font-style(400;14px);

  @media (min-width: @tablet-width) {
    line-height: 24px;
    margin-top: -20px;
    margin-right: -20px;
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    width: 537px;
    margin-left: 70px;
    margin-top: -8px;
    line-height: 30px;
  }
}

.effect__link {
  color: @red;
  font-family: @OpenSans;
  .font-style(400;14px);

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin-left: 71px;
    margin-top: 33px;
    display: block;
  }
}

.effect {
  display: none;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: -90px;
  }

  @media (min-width: @desktop-width) {
    background-color: @special-white;
    padding-bottom: 82px;
  }
}


.effect__wrapper {
  width: 580px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 900px;
  }
}
