.effect__timer-photo{
 background-image:url(../img/icon/timer.svg);
 background-repeat:no-repeat;
 width:238px;
 height:276px;
}

.effect__head{
font-family:@OpenSans;
.font-style(700;30px);
}

.effect__slogan{
  font-family:@OpenSans;
  .font-style(400;14px);

}

.effect__link{
 color:@red;
 font-family:@OpenSans;
  .font-style(400;14px);
}

.effect{
 display:none;
 @media(min-width:@tablet-width){
   display:flex;
 }
}

.effect__wrapper{
 width:660px;
 margin:0 auto;
 @media(min-width:@desktop-width){
  width:967px;
 }
}
