.footer__developer{
  font-family: @OpenSans;
  .font-style(400;14px;);
  color:@dark-black;
}

.footer__wrapper{
  width: 280px;
  margin: 0 auto;
  @media(min-width:@tablet-width){
   width:620px;
  }
}

.footer__flex{
 @media(min-width:@tablet-width){
  display:flex;
 }
}
.footer__social-list{
 display:flex;
 list-style: none;
}
