@OpenSans:"Open Sans",Arial, sans-serif;

.visually-hidden {
  position   : absolute;
  width      : 1px;
  height     : 1px;
  margin     : -1px;
  border     : 0;
  padding    : 0;
  white-space: nowrap;
  clip-path  : inset(100%);
  clip       : rect(0 0 0 0);
  overflow   : hidden;
}


//миксин
.font-style(@font-weight;@font-size){
font-weight:@font-weight;
font-size:@font-size;
}

//цвета

@white:#ffffff;
@special-white:#f2f2f2;
@black:#283645;
@dark-black:#000000;
@special-black:#1D2631;
@red:#D22856;
@grey:#e5e5e5;
@green:#2AAB6D;
@border-color:rgba(255, 255, 255, 0.15);
//Размеры экранов
@tablet-width:620px;
@desktop-width:967px;

