.main-head__text{
  color: @white;
  font-family: @OpenSans;
  .font-style(300;24px;);
  text-align:center;
  margin-top:29px;
  margin-bottom:77px;
  @media(min-width:@tablet-width){
   font-size:50px;
   margin-top:66px;
   margin-bottom:128px;
  }
}
.main-head__wrapper{
  width:280px;
  margin:0 auto;
  padding:0 20px;
  @media(min-width:@tablet-width){
  width:580px;
  }
  @media(min-width:@desktop-width){
    width:900px;
    }
}

