.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -20px;
  display: none;

  @media (min-width: @tablet-width) {
    margin-left: -42px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-left: 291px;
    margin-top: 22px;
    background-color: transparent;
  }
}

.main-nav__item {
  background-color: @black;
  width: 320px;
  box-shadow: 0 1px 0 @dark-black, inset 0 1px 0 @border-color;
  margin-bottom: 1px;

  @media (min-width: @tablet-width) {
    width: 662px;
  }

  a {
    display: block;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
    color: @white;
    font-family: @OpenSans;
    .font-style(700;18px;);

    &:hover {
      color: @red;
    }

    &:focus {
      color: @white;
      opacity: 30%;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 8px;
      color: @white;
      font-family: @OpenSans;
      .font-style(400;18px;);
    }
  }

  @media (min-width: @desktop-width) {
    width: 137px;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    box-shadow: none;
    margin-right: 1px;
  }
}

.main-nav__list li:nth-child(1) {
  @media (min-width: @desktop-width) {
    margin-left: 9px;
  }
}

.main-nav__list li:nth-child(2) {
  @media (min-width: @desktop-width) {
    margin-left: 11px;
  }
}

.main-nav__list li:nth-child(3) {
  @media (min-width: @desktop-width) {
    margin-left: 48px;
  }
}

.main-nav__list li:nth-child(4) {
  @media (min-width: @desktop-width) {
    margin-left: 13px;
  }
}


.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: inherit;
}


.main-nav__toggle--open {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 24px;
  background-color: inherit;
  border: none;
  background-image: url(../img/icon/toggle-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: absolute;
  top: -45px;
  left: 230px;

  &:hover {
    background-image: url(../img/icon/toggle-button-hover.svg);
  }

  &:focus {
    background-image: url(../img/icon/toggle-button-hover.svg);
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    top: -68px;
    left: 551px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toggle--close {
  background-image: url(../img/icon/close.svg);
  padding: 0;
  margin: 0;
  width: 50px;
  height: 24px;
  background-color: inherit;
  border: none;

  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: absolute;
  top: -45px;
  left: 230px;

  &:hover {
    background-image: url(../img/icon/close-hover.svg);
  }

  &:focus {
    background-image: url(../img/icon/close-hover.svg);
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    top: -71px;
    left: 525px;
  }
}


.main-nav__list--open {
  display: block;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}


.main-nav {
  position: absolute;
  margin-top: 1px;
  z-index: 100;
}
