.modal-error__title{
  color:#000000;
  font-family: Open Sans,Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:18px;
}

.modal-error__text{
  color:#283645;
  font-family: Open Sans,Arial, Helvetica, sans-serif;
  font-weight:400;
  font-size:14px;
}

.modal-button{
  background-color: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  color: #FFFFFF;
}
