.offer {
  background-color: #F2F2F2;
}

.offer__table-head {
  color: #FFFFFF;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #283645;

  span {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size  : 18px;

  }
}

.offer__table-row {
  background-color: #FFFFFF;
}

.offer__table-descript {
  color: #283645;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size  : 14px;

}

.offer__wrapper{
  width:280px;
  margin:0 auto;
}
