.page-body{
  font-family: @OpenSans;
  .font-style(400;14px;);
background-color: @white;
background-image:url(../img/mobile/back-mobile.png);
background-repeat:no-repeat;
background-position:  top center;
margin:0;
padding:0;
@media(min-width:@tablet-width){
background-image:url(../img/mobile/back-tablet.png)  ;
}
@media(min-width:@desktop-width){
  background-image:url(../img/mobile/back-desktop.png)  ;
  }


}
