.users-photo{
 background-color:white;
}

.users-photo__wrapper{
  width:280px;
  margin:0 auto;
  @media(min-width:@tablet-width){
    width:620px;
    }
    @media(min-width:@desktop-width){
      width:967px;
      }
}

.users-photo__text,.users-filter__text{
  color: @black;

  .font-style(400;14px;);
}

.users-photo__author{

  color:@black;
  .font-style(700;14px;);

}

.users-photo__time{
  .font-style(300;12px;);
font-style:normal;
}

.users-photo__blockquote{
  color: @black;
  font-family: @OpenSans;
  .font-style(400;14px;);
}
.users-photo__button{
 border:none;
 color:  @red;
 font-family: @OpenSans;
 .font-style(400;12px;);
  background-color:inherit;
  text-transform:uppercase;
}



.users-photo__flex{
  display:flex;
 flex-wrap:wrap;

}

.users-photo__list{
 list-style: none;
 padding:0;
 margin:0;
}
.users-photo__item{
 width:280px;
}
.users-photo__item-head{
 width:320px;
 @media(min-width:@tablet-width){
  width:660px;
  }
  @media(min-width:@desktop-width){
    width:1200px;
    }

}


