.users-photo{
 background-color:white;
}

.users-photo__wrapper{
  width:280px;
  margin:0 auto;
}

.users-photo__text,.users-filter__text{
  color: #283645;
  font-family: Open Sans,Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.users-photo__author{
  color: #283645;
  font-family: Open Sans,Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;


}

.users-photo__time{
font-weight: 300;
font-size: 12px;
font-style:normal;
}

.users-photo__blockquote{
  color: #283645;
  font-family: Open Sans,Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.users-photo__button{
 border:none;
 color:  #D22856;
  font-family: Open Sans,Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color:inherit;
  text-transform:uppercase;
}



